body {
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: #233547;
  margin: 0;
  padding: 0; }

#page1 {
  margin: 0 auto;
  position: relative;
  background-image: url("http://juliewilhelmine.com/ca/leafback1.png");
  background-repeat: no-repeat;
  background-position: static; }

#page2 {
  margin: 0 auto;
  position: relative;
  background-image: url("http://juliewilhelmine.com/ca/concept.png");
  background-repeat: no-repeat;
  background-attachment: static;
  background-position: center; }

/* Sections for About */
.concept {
  z-index: 0;
  display: block;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid;
  border-color: #8996a3;
  padding: 10px 10px 10px 10px;
  line-height: 1.4;
  margin: 10px 0 0 15px; }

.howto {
  z-index: 0;
  display: inline-block;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid;
  border-color: #8996a3;
  padding: 10px 10px 10px 10px;
  line-height: 1.4;
  margin: 10px 0 0 15px; }

/* Booking button for Tours */
#book {
  border: solid 2px;
  border-color: #949aa8;
  width: 110px;
  display: inline-block;
  margin: 10px 0 20px 20px;
  text-align: center;
  padding: 5px 5px 5px 5px;
  font-family: 'Playfair Display', serif; }

#book:hover {
  color: #fff;
  background-color: #425c65; }

#book a {
  color: #233547;
  padding: 5px 7px 5px 7px; }

#book a:hover {
  color: #fff;
  text-decoration: none;
  padding: 5px 7px 5px 7px; }

.routes h1 {
  margin-left: 20px; }

h1 {
  font-family: 'Playfair Display', serif;
  margin: 0 0 0.5em 0;
  font-size: 2.3em;
  font-weight: 700; }

h2 {
  font-family: 'Playfair Display', serif;
  margin: 0 0 0.5em 0;
  font-size: 1.6em;
  font-weight: 700;
  line-height: 1.1em; }

h3 {
  font-family: 'Playfair Display', serif;
  margin: 0 0 0.5em 0;
  font-size: 1.3em;
  font-weight: 700; }

h4 {
  font-family: 'Playfair Display', serif;
  margin: 0 0 1.5em 0;
  font-size: 1em;
  font-weight: 700; }

p {
  margin: 0;
  padding: 0 0 5px 0; }

a {
  color: #8e4b2f;
  font-weight: bold;
  text-decoration: none; }

a:visited {
  color: #99654c;
  font-weight: bold;
  text-decoration: none; }

a:hover {
  color: #8e4b2f;
  font-weight: bold;
  text-decoration: underline; }

title {
  display: none; }

header {
  z-index: 1;
  height: 55px;
  top: 0;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  margin: 0; }

/* Logo */
#logotext {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  font-size: 25px;
  color: #fff;
  display: inline-block;
  margin: 7px 0 0 15px; }

/* Home section */
.welcome {
  margin: 0 2em 0 2em;
  text-align: center;
  border: 2px solid;
  border-color: #949aa8;
  padding: 4px; }

#tourbutton {
  border: solid 2px;
  border-color: #949aa8;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px 5px 5px 5px;
  font-family: 'Playfair Display', serif; }

#tourbutton:hover {
  color: #fff;
  background-color: #425c65; }

#tourbutton a {
  color: #233547;
  padding: 5px 7px 5px 7px; }

#tourbutton a:hover {
  color: #fff;
  text-decoration: none;
  padding: 5px 7px 5px 7px; }

/* Home pictures*/
.pictures {
  margin: 0;
  text-align: center; }

#bikes {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto; }

#bike {
  display: none; }

#minibike {
  display: none; }

section {
  padding: 0 0 0 0; }

section::after {
  content: '';
  display: block;
  clear: both; }

section.main {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0; }

/* Eco section for Home */
section.eco {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0; }

aside {
  float: left;
  width: 33%; }

.content {
  margin: 10px;
  background-size: 100px 100px;
  padding: 8px;
  border: solid 2px;
  border-color: #949aa8; }

/*Route table for Tour */
.tourtable {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 0 20px;
  overflow-x: auto; }

.tourtable td {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  padding: 10px 20px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal; }

.tourtable th {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  background-color: #949aa8; }

/* Form for Contact */
.contactform {
  display: block;
  margin-left: 10%;
  margin-top: 5%; }

/* Navigation */
nav {
  background-color: #a6bf8d;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%; }

nav::after {
  content: '';
  display: block;
  clear: both; }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #a6bf8d; }

nav ul li:hover {
  color: #233547;
  background-color: #a6bf8d;
  text-decoration: none; }

nav ul li:hover > ul {
  display: block; }

nav ul li a {
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  width: 60px;
  position: relative; }

nav ul li a:visited {
  color: #fff; }

nav ul li a:hover {
  color: #fff;
  background-color: #425c65;
  text-decoration: none; }

nav ul ul {
  position: absolute;
  top: 100%;
  color: rgba(255, 255, 255, 0.5);
  display: none; }

nav ul ul li {
  position: relative; }

nav > ul {
  float: right; }

nav > ul > li {
  float: left; }

nav > ul > li > a {
  width: auto;
  padding: 10px 20px 15px 20px; }

/* Footer */
footer {
  font-size: 0.8em;
  margin: 50px 0 0 0px;
  color: #fff;
  background-color: #a6bf8d;
  padding: 15px 0 15px 0;
  text-align: center;
  position: static;
  bottom: 0; }

footer .content {
  display: inline;
  border: none; }

footer a {
  margin-left: 30px;
  color: #fff; }

footer a:visited {
  margin-left: 30px;
  color: #fff; }

/*Media queries */
@media screen and (max-width: 1000px) {
  h1 {
    font-size: 2.1em; }
  #bikes {
    display: none; }
  #minibike {
    display: none; }
  #bike {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto; } }

@media screen and (max-width: 800px) {
  h1 {
    font-size: 1.9em; }
  aside {
    width: 100%; }
  #bikes {
    display: none; }
  #minibike {
    display: none; }
  #bike {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto; }
  body #page1 {
    background-image: url("http://juliewilhelmine.com/ca/leafbacktrans.png");
    background-repeat: no-repeat;
    background-position: static; } }

@media screen and (max-width: 700px) {
  h1 {
    font-size: 2em; }
  h2 {
    font-size: 1.5em; }
  h3 {
    font-size: 1.3em; }
  body .page {
    font-size: 17px; }
  #bikes {
    display: none; }
  #minibike {
    display: none; }
  #bike {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto; } }

@media screen and (max-width: 460px) {
  h1 {
    font-size: 1.2em; }
  h2 {
    font-size: 1.2em; }
  h3 {
    font-size: .7em; }
  #bikes {
    display: none; }
  #bike {
    display: none; }
  #minibike {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto; }
  body #page1 {
    background-image: url("http://juliewilhelmine.com/ca/miniback.png") !important;
    background-repeat: no-repeat;
    background-position: static; }
  #container {
    z-index: -1;
    text-align: center;
    width: 10%; }
  .concept {
    z-index: 0;
    display: block;
    width: 320px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid;
    border-color: #949aa8;
    padding: 10px 5px 10px 5px; }
  .howto {
    display: block;
    width: 320px; } }
